[Desktop Entry]
Type=Application
Name=External Displays
Exec=env DISPLAY=:1 io.furios.ExternalDisplays
Icon=io.furios.ExternalDisplays
Terminal=false
Type=Application
StartupNotify=true
Keywords=externaldisplays;display;screen
